.header-wrapper{
    display: flex;
    justify-content: space-between;
   align-items: center;
   background-color: white;
   
}
.header-links a {
    margin-right: 20px;
    color: green;

}
.title{
    color: rgb(208, 69, 69);
     text-align: center;
     font-size: 30px;
     margin-bottom: 50px;
}
.boxes{
  
    display: flex;
    


}

.box1, .box2, .box3{
    width: 250px;
    padding: 10px;
    border-color: green;
    border-style: double;
    border-radius: 20px 40px 40px;
    margin: 20px;
    color :darkgoldenrod;
    background: azure;
    
    
}
.container{
    padding: 50px;
}

 .button1{
  color: green;

}
main{
    background-color:darkslategray;
}
.box-title{
    color: green;
}
.img{
    border-radius: 20px 30px 50px;

}
.button1:hover{
    background-color:red;
    transition: 0.7s;
    border: transparent;
}
